{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="../assets/css/navbar_other_page.css"/>
<link rel="stylesheet" type="text/css" href="../assets/css/slideshow.css"/>
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2>Trick : {{ figure.name }}</h2>
    <h3>Catégorie : {{ figure.category.title }}</h3>
    <h3>Description : {{ figure.description|raw }}</h3>
    <a class="nav-link" href="{{ path('edit_figure',{'id': figure.id}) }}">Modifier</a>
    <div class="slideshow-container">
        {% for image in figure.images %}
            <div class="mySlides">
                <img src="{{ asset('/images/figures/uploads/'~image.name) }}" alt="figure">
                <div class="text">Caption Text</div>
            </div>
        {% endfor %} 
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
</div>
<br>

<section id="commentaires">
        <h2>{{ figure.comments | length }} Commentaire </h2>
        {% for comment in figure.comments %} <!--Pour chaque commentaire dans les commentaire de l'article-->
            <div class="comment container">
                <div class="info container">
                    <div class="author-info">
                    
                        <div class="picture">
                            <img src="{{asset('images/pictures/' ~ comment.user.imageName)}}"></img>
                        </div>
                        <div class="username">
                            {{comment.user.username}} 
                        </div>
                    </div>
                    
                    <div class="post_date">
                        {{comment.createdAt | date('d/m/Y')}}
                    </div>
                    <p>
                        {{comment.content | raw}}
                    </p>
                </div>
            </div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VI57QHL6ge0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                
        {% endfor %}
        
        <h2>Laisse un commentaire</h2>
        {% if app.user %}
        
        {{form_start(commentForm)}}

        {{form_row(commentForm.content,{'attr': {'placeholder':"Contenu"} }) }}

        <button type="submit" class="btn send">Envoyer</button>
        {{form_end(commentForm)}}
        {% else %}
            <h3>Connexion requise</h3>
            <p><a href="{{path('security_login')}}" class="btn btn-primary">Connexion</a>
            ou <a href="{{path('security_registration')}}" class="btn btn-primary">Pas de compte ?</a>
            </p>
            
        {% endif %}
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="../assets/js/slideshow.js"></script>
{% endblock %}
