{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="../assets/css/navbar_other_page.css"/>
{% endblock %}

{% block body %}
    <h2>Forum de discussions</h2>
    <section id="commentaires">
        <div class="mt-5">
            <div class="justify-content-center">
                <div>
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h3>Commentaires : {{ total_comments }}</h3>
                    </div>
                    <div id="comments">
                        {{ include("figure/comments_forum.html.twig") }}
                    </div>
                    <a id="loadMore" data-offset="{{ coms }}" data-limit="{{ total_comments }}" href="#" >Voir plus</a>
                </div>
            </div>
        </div>

        <br/>
        <h3>Laisse un commentaire</h3>
        {% if app.user %}

            {{form_start(commentForm)}}

            {{form_row(commentForm.content,{'attr': {'placeholder':"Contenu"} }) }}

            <button type="submit" class="btn btn-primary send">Envoyer</button>

            {{form_end(commentForm)}}

        {% else %}
            <h3>Connexion requise</h3>
            <p><a href="{{path('security_login')}}" class="btn btn-primary">Connexion</a>
                ou <a href="{{path('security_registration')}}" class="btn btn-primary">Pas de compte ?</a>
            </p>
        {% endif %}

    </section>

{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="../assets/js/loadmore_comments.js"></script>
{% endblock %}