{#{{ dump() }}#}
{% for figure in figures %}
    <div class="card">
        <div class="card-banner">
            <p class="category-tag popular">{{ figure.category.title }}</p>
            {% if figure.images | length > 0 %}
                <a href="{{ path('figure_show', {'id': figure.id}) }}">
                    <img class="banner-img" src="{{ asset('/images/figures/uploads/'~figure.images[0].name) }}"
                         alt="figure" width="150">
                </a>
            {% endif %}
        </div>
        <div class="card-body">
            <h2 class="blog-title">{{ figure.name }}</h2>
            <p>{{ figure.id }}</p>
            <p class="blog-description">{{ figure.description|raw }}</p>
            <div class="btn-more-update">
                <a class="btn btn-primary" href="{{ path('figure_show', {'id': figure.id}) }}">Voir plus</a>
                <a class="btn btn-success" href="{{ path('edit_figure',{'id': figure.id}) }}">Modifier</a>
            </div>
        </div>
    </div>
{% endfor %}

