{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/navbar_other_page.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/profil_picture.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container profil">
        <h1>Bienvenue sur votre profil {{ user.username }}</h1>
        <div class="profil_picture">
            <img src="{{ asset('images/pictures/' ~ user.imageName) }}"></img>
        </div>

        <a class="nav-link" href="{{ path('update_user') }}">Modifier mon profil</a>

    </div>
{% endblock %}
